{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - kontakt{% endblock %}
{% block description %}Bezprzewodowy internet, darmowy parking, masaże ajurwedyjskie. 34-511 Kościelisko, ul. Groń 20{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .contact {
            background-image: url({{ asset('img/willa_aziza_kontakt_tlo.jpg') }});
        }
    </style>
{% endblock %}
{% block body %}
    <div id="contact"></div>
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Bezpłatne <span>wi-fi</span></h3>
                </div>
                <img src="{{ asset('img/willa_aziza_bezplatne_wifi.jpg') }}" alt="Willa Aziza - bezpłatne wi-fi">
                <div class="caption">
                    <p>Dostęp do Internetu na terenie całej willi Aziza za darmo. Bezpłatny parking.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Organizacja <span>kuligów</span></h3>
                </div>
                <img src="{{ asset('img/willa_aziza_organizacja_kuligow.jpg') }}" alt="Willa Aziza - organizacja kuligów">
                <div class="caption">
                    <p>Skutery śnieżne - wypożyczalnia, szkółka jeździecka - 300m obok, lecznicze masaże ajurwedyjskie.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Blisko <span>Zakopane</span></h3>
                </div>
                <img src="{{ asset('img/willa_aziza_blisko_zakopanego.jpg') }}" alt="Willa Aziza - blisko Zakopane">
                <div class="caption last">
                    <p>Tatrzański Park Narodowy, szlaki turystyczne, ścieżki, rowerowe. 7 km do Zakopanego.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@AppBundle/Resources/public/js/react/react.js'
        '@AppBundle/Resources/public/js/react/react-dom.js'
        '@AppBundle/Resources/public/js/react/components/contact.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
