<nav>
    <ul>
        <li><a href="{{ path('default') }}">Willa Aziza</a></li>
        <li><a href="{{ path('offer') }}">Oferta</a></li>
        <li><a href="{{ path('localization') }}">Lokalizacja</a></li>
        <li><a href="{{ path('attractions') }}">Atrakcje</a></li>
        <li><a href="{{ path('gallery') }}">Galeria</a></li>
        <li><a href="{{ path('contact') }}">Kontakt</a></li>
    </ul>
</nav>