<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Willa Aziza{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Niconne">
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
        {% block stylesheets %}
            <style>
                html { 
                    background: url({{ asset('img/tatry.jpg') }}) no-repeat center center fixed; 
                }
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <header>
                <nav>
                    <ul class="nav nav-tabs">
                        <li{% if app.request.attributes.get('_route') starts with 'default' %} class="active"{% endif %}>
                            <a class="logo" href="{{ path('default') }}">Willa Aziza</a>
                        </li>
                        <li{% if app.request.attributes.get('_route') starts with 'offer' %} class="active"{% endif %}>
                            <a href="{{ path('offer') }}">Oferta</a>
                        </li>
                        <li{% if app.request.attributes.get('_route') starts with 'localization' %} class="active"{% endif %}>
                            <a href="{{ path('localization') }}">Lokalizacja</a>
                        </li>
                        <li{% if app.request.attributes.get('_route') starts with 'attractions' %} class="active"{% endif %}>
                            <a href="{{ path('attractions') }}">Atrakcje</a>
                        </li>
                        <li{% if app.request.attributes.get('_route') starts with 'gallery' %} class="active"{% endif %}>
                            <a href="{{ path('gallery') }}">Galeria</a>
                        </li>
                        <li{% if app.request.attributes.get('_route') starts with 'contact' %} class="active"{% endif %}>
                            <a href="{{ path('contact') }}">Kontakt</a>
                        </li>
                    </ul>
                </nav>
            </header>
        </div>
        <hr />
        <div class="container">
        {% block body %}{% endblock %}
    </div>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
