<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Willa Aziza{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Niconne">
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
        {% block stylesheets %}
            <style>
                html { 
                    background: url({{ asset('img/tatry.jpg') }}) no-repeat center center fixed; 
                }
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Przełącz nawigację</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            <li{% if app.request.attributes.get('_route') starts with 'default' %} class="active"{% endif %}>
                                <a class="logo" href="{{ path('default') }}">Willa Aziza</a>
                            </li>
                            <li{% if app.request.attributes.get('_route') starts with 'offer' %} class="active"{% endif %}>
                                <a href="{{ path('offer') }}">Oferta</a>
                            </li>
                            <li{% if app.request.attributes.get('_route') starts with 'localization' %} class="active"{% endif %}>
                                <a href="{{ path('localization') }}">Lokalizacja</a>
                            </li>
                            <li{% if app.request.attributes.get('_route') starts with 'attractions' %} class="active"{% endif %}>
                                <a href="{{ path('attractions') }}">Atrakcje</a>
                            </li>
                            <li{% if app.request.attributes.get('_route') starts with 'gallery' %} class="active"{% endif %}>
                                <a href="{{ path('gallery') }}">Galeria</a>
                            </li>
                            <li{% if app.request.attributes.get('_route') starts with 'contact' %} class="active"{% endif %}>
                                <a href="{{ path('contact') }}">Kontakt</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
        {% block body %}{% endblock %}
    </div>
    <footer>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li{% if app.request.attributes.get('_route') starts with 'default' %} class="active"{% endif %}>
                            <a href="{{ path('default') }}">Willa Aziza</a>
                        </li>
                        <li{% if app.request.attributes.get('_route') starts with 'offer' %} class="active"{% endif %}>
                            <a href="{{ path('offer') }}">Oferta</a>
                        </li>
                        <li{% if app.request.attributes.get('_route') starts with 'localization' %} class="active"{% endif %}>
                            <a href="{{ path('localization') }}">Lokalizacja</a>
                        </li>
                        <li{% if app.request.attributes.get('_route') starts with 'attractions' %} class="active"{% endif %}>
                            <a href="{{ path('attractions') }}">Atrakcje</a>
                        </li>
                        <li{% if app.request.attributes.get('_route') starts with 'gallery' %} class="active"{% endif %}>
                            <a href="{{ path('gallery') }}">Galeria</a>
                        </li>
                        <li{% if app.request.attributes.get('_route') starts with 'contact' %} class="active"{% endif %}>
                            <a href="{{ path('contact') }}">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </footer>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
