<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Willa Aziza{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
        {% block stylesheets %}
            <style>
                @font-face {
                  font-family: 'Niconne';
                  font-style: normal;
                  font-weight: 400;
                  src: local('Niconne'), local('Niconne-Regular'), url({{ asset('fonts/7y6M8DdcKDIbmnqOPLrL_1KPGs1ZzpMvnHX-7fPOuAc.woff2') }}) format('woff2');
                  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
                }
                /* latin */
                @font-face {
                  font-family: 'Niconne';
                  font-style: normal;
                  font-weight: 400;
                  src: local('Niconne'), local('Niconne-Regular'), url({{ asset('fonts/h93Klz8V5_6KNFvbXz0TaQLUuEpTyoUstqEm5AMlJo4.woff2') }}) format('woff2');
                  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
                }
                html { 
                    background:  #104f70 url({{ asset('img/tatry.jpg') }}) no-repeat center center fixed; 
                }
            </style>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header>
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Przełącz nawigację</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="logo{% if app.request.attributes.get('_route') starts with 'default' %} active{% endif %}" href="{{ path('default') }}">Willa Aziza</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            <li{% if app.request.attributes.get('_route') starts with 'offer' %} class="active"{% endif %}>
                                <a href="{{ path('offer') }}">Oferta</a>
                            </li>
                            <li{% if app.request.attributes.get('_route') starts with 'localization' %} class="active"{% endif %}>
                                <a href="{{ path('localization') }}">Lokalizacja</a>
                            </li>
                            <li{% if app.request.attributes.get('_route') starts with 'attractions' %} class="active"{% endif %}>
                                <a href="{{ path('attractions') }}">Atrakcje</a>
                            </li>
                            <li{% if app.request.attributes.get('_route') starts with 'gallery' %} class="active"{% endif %}>
                                <a href="{{ path('gallery') }}">Galeria</a>
                            </li>
                            <li{% if app.request.attributes.get('_route') starts with 'contact' %} class="active"{% endif %}>
                                <a href="{{ path('contact') }}">Kontakt</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
        {% block body %}{% endblock %}
    </div>
    <footer>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li{% if app.request.attributes.get('_route') starts with 'default' %} class="active"{% endif %}>
                            <a href="{{ path('default') }}">Willa Aziza</a>
                        </li>
                        <li{% if app.request.attributes.get('_route') starts with 'offer' %} class="active"{% endif %}>
                            <a href="{{ path('offer') }}">Oferta</a>
                        </li>
                        <li{% if app.request.attributes.get('_route') starts with 'localization' %} class="active"{% endif %}>
                            <a href="{{ path('localization') }}">Lokalizacja</a>
                        </li>
                        <li{% if app.request.attributes.get('_route') starts with 'attractions' %} class="active"{% endif %}>
                            <a href="{{ path('attractions') }}">Atrakcje</a>
                        </li>
                        <li{% if app.request.attributes.get('_route') starts with 'gallery' %} class="active"{% endif %}>
                            <a href="{{ path('gallery') }}">Galeria</a>
                        </li>
                        <li{% if app.request.attributes.get('_route') starts with 'contact' %} class="active"{% endif %}>
                            <a href="{{ path('contact') }}">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </footer>
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
