<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            {% image '@AppBundle/Resources/public/img/willa_aziza_kulig.jpg' %}
                <img src="{{ asset_url }}" alt="Willa Aziza i kulig" />
            {% endimage %}
        </div>
        <div class="item">
            {% image '@AppBundle/Resources/public/img/willa_aziza_okolica.jpg' %}
                <img src="{{ asset_url }}" alt="Willa Aziza i okolica" />
            {% endimage %}
        </div>
        <div class="item">
            {% image '@AppBundle/Resources/public/img/willa_aziza_z_zewnatrz.jpg' %}
                <img src="{{ asset_url }}" alt="Willa Aziza z zewnątrz" />
            {% endimage %}
        </div>
        <div class="item">
            {% image '@AppBundle/Resources/public/img/willa_aziza_zima.jpg' %}
                <img src="{{ asset_url }}" alt="Willa Aziza w ciągu dnia zimą" />
            {% endimage %}
        </div>
        <div class="item">
            {% image '@AppBundle/Resources/public/img/willa_aziza_dzien.jpg' %}
                <img src="{{ asset_url }}" alt="Willa Aziza w ciągu dnia" />
            {% endimage %}
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
        {% image '@AppBundle/Resources/public/img/prev.png' %}
            <img src="{{ asset_url }}" alt="Poprzedni slajd" />
        {% endimage %}
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="sr-only">Next</span>
        {% image '@AppBundle/Resources/public/img/next.png' %}
            <img src="{{ asset_url }}" alt="Następny slajd" />
        {% endimage %}
    </a>
</div>
