{% extends 'auth_base.html.twig' %}
{% block title %}{{ parent() }} - Galeria - Lista{% endblock %}
{% block body %}
    <div class="stock">
        <div>
            {% include 'pagination.html.twig' with {path: 'admin_gallery_list', 'pagesCount': pagesCount, 'currentPage': currentPage} %}
        </div>
        <div class="row">
            {% for gallery in galleries %}
                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail">
                        {% set break = false %}
                        {% for photo in gallery.getGalleryPhotos() if not break %}
                            <img src="{{ asset('bundles/app/img/gallery/thumbnails/'~gallery.name) }}"
                                 alt="{{ gallery.title ~ ' ' ~ photo.name }}"/>
                            {% set break = true %}
                        {% endfor %}
                        <div class="caption">
                            <h2>{{ gallery.title | truncate(10, true) }}</h2>
                            <div class="row">
                                <div class="col-sm-4 col-md-4">
                                    <a class="btn btn-primary btn-block"
                                       href="{{ path('admin_gallery_edit', {'id': gallery.id}) }}">Edytuj</a>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <a class="btn btn-success btn-block"
                                       href="{{ path('admin_gallery_photos', {'id': gallery.id}) }}">Zdjęcia</a>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <a class="btn btn-danger btn-block"
                                       href="{{ path('admin_gallery_delete', {'id': gallery.id}) }}">Usuń</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <h1>Brak galerii</h1>
            {% endfor %}
        </div>
        <div>
            {% include 'pagination.html.twig' with {path: 'admin_gallery_list', 'pagesCount': pagesCount, 'currentPage': currentPage} %}
        </div>
    </div>
{% endblock %}