{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ gallery.title }} {% endblock %}
{% block description %}{{ gallery.title }} - galeria fotografii{% endblock %}
{% block stylesheets %}
    {% stylesheets 
        'css/bootstrap.min.css'
        'css/lightbox.css'
        'css/custom.css'
        'css/custom_lightbox.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <div class="row gallery">
        <h1>{{ gallery.getTitleFirst() }} <span>{{ gallery.getTitleRest() }}</span></h1>
        {% for image in gallery.getGalleryPhotos() %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a data-lightbox="{{ gallery.slug }}" href="{{ asset('bundles/app/img/gallery/'~image.name) }}">
                        <img src="{{ asset('bundles/app/img/gallery/thumbnails/'~image.name) }}" alt="{{ image.name }}">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
        '@AppBundle/Resources/public/js/jquery.js'
        '@AppBundle/Resources/public/js/bootstrap.js'
        '@AppBundle/Resources/public/js/lightbox.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
