{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ name_first~' '~name_last }} {% endblock %}
{% block description %}{{ name_first~' '~name_last }} - galeria fotografii{% endblock %}

{% block body %}
    <div class="row gallery">
        <h1>{{ name_first }} <span>{{ name_last }}</span></h1>
        {% for key, image in images %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a data-lightbox="{{ slug }}" href="{{ asset('img/galerie/'~ slug ~'/'~ image) }}">
                        <img src="{{ asset('img/galerie/'~ slug ~'/thumbnail/'~ image) }}" alt="{{ image }}">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
