{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ name_first~' '~name_last }} {% endblock %}
{% block description %}{{ name_first~' '~name_last }} - galeria fotografii{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/lightbox.css') }}" />
    <style>
        body:after {
            content: url({{ asset('img/lighbox/close.png') }}) url({{ asset('img/lighbox/loading.gif') }}) url({{ asset('img/lighbox/prev.png') }}) url({{ asset('img/lighbox/next.png') }});
        }
        .lb-cancel {
            background: url({{ asset('img/lighbox/loading.gif') }}) no-repeat;
        }
        .lb-nav a.lb-prev {
            background: url({{ asset('img/lighbox/prev.png') }}) left 48% no-repeat;
        }
        .lb-nav a.lb-next {
            background: url({{ asset('img/lighbox/next.png') }}) right 48% no-repeat;
        }
        .lb-data .lb-close {
            background: url({{ asset('img/lighbox/close.png') }}) top right no-repeat;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row gallery">
        <h1>{{ name_first }} <span>{{ name_last }}</span></h1>
        {% for key, image in images %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a data-lightbox="{{ slug }}" href="{{ asset('img/galerie/'~ slug ~'/'~ image) }}">
                        <img src="{{ asset('img/galerie/'~ slug ~'/thumbnail/'~ image) }}" alt="{{ image }}">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/lightbox.js') }}"></script>
{% endblock %}
