{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ name_first~' '~name_last }} {% endblock %}
{% block description %}{{ name_first~' '~name_last }} - galeria fotografii{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/lightbox.css') }}" />
    <style>
        body:after {
            content: url({{ asset('img/lighbox/close.png') }}) url({{ asset('img/lighbox/loading.gif') }}) url({{ asset('img/lighbox/prev.png') }}) url({{ asset('img/lighbox/next.png') }});
        }
        .lb-cancel {
            background: url({{ asset('img/lighbox/loading.gif') }}) no-repeat;
        }
        .lb-nav a.lb-prev {
            background: url({{ asset('img/lighbox/prev.png') }}) left 48% no-repeat;
        }
        .lb-nav a.lb-next {
            background: url({{ asset('img/lighbox/next.png') }}) right 48% no-repeat;
        }
        .lb-data .lb-close {
            background: url({{ asset('img/lighbox/close.png') }}) top right no-repeat;
        }
        .row {
            margin-right: 0;
            margin-left: 0;
            margin-top: 15px;
            background: #fff;
            padding-bottom: 50px;
        }
        .thumbnail {
            margin-bottom: 0;
            border: 0;
            margin-top: 30px;
        }
        .thumbnail .caption h3 {
            text-transform: uppercase;
            color: #f7941d;
            font-weight: bold;
        }
        .thumbnail .caption p {
            color: #104f70;
            font-size: 18px;
        }
        .thumbnail .caption h3 span {
            color: #104f70;
            display: block;
            font-weight: normal;
        }
        h1 {
            font-weight: bold;
            color: #f7941d;
            padding-left: 20px;
        }
        h1 span {
            font-weight: normal;
            color: #104f70;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <h1>{{ name_first }} <span>{{ name_last }}</span></h1>
        {% for key, image in images %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <a data-lightbox="{{ slug }}" href="{{ asset('img/galerie/'~ slug ~'/'~ image) }}">
                        <img src="{{ asset('img/galerie/'~ slug ~'/thumbnail/'~ image) }}" alt="{{ image }}">
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/lightbox.js') }}"></script>
{% endblock %}
