{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - galeria{% endblock %}
{% block description %}Apartament na poddaszu, pokoje niebieski, zielony, pomarańczowy, karmelowy, wszystkie z łazienkami.{% endblock %}

{% block body %}
    <div class="row galleries">
        {% for gallery in galleries %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>{{ gallery.getTitleFirst() }} <span>{{ gallery.getTitleRest() }}</span></h3>
                    </div>
                    <a href="{{ path('gallery', {'slug': gallery.slug}) }}" title="{{ gallery.title }}">
                        {% set break = false %}
                        {% for photo in gallery.getGalleryPhotos() if not break %}
                            {% if (gallery.mainPhotoId) %}
                                {% if (photo.id == gallery.mainPhotoId) %}
                                    <img src="{{ asset('bundles/app/img/gallery/thumbnails/'~photo.name) }}"
                                         alt="{{ gallery.title ~ ' ' ~ photo.name }}"/>
                                    {% set break = true %}
                                {% endif %}
                            {% else %}
                                <img src="{{ asset('bundles/app/img/gallery/thumbnails/'~photo.name) }}"
                                     alt="{{ gallery.title ~ ' ' ~ photo.name }}"/>
                                {% set break = true %}
                            {% endif %}
                        {% endfor %}
                    </a>
                </div>
            </div>
        {% else %}
            <h1>Brak pokoi</h1>
        {% endfor %}
    </div>
{% endblock %}
