{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - galeria{% endblock %}
{% block description %}Apartament na poddaszu, pokoje niebieski, zielony, pomarańczowy, karmelowy, wszystkie z łazienkami.{% endblock %}

{% block body %}
    <div class="row galleries">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Apartament <span>na poddaszu</span></h3>
                </div>
                <a href="{{ path('gallery', {'slug': 'apartament-na-poddaszu'}) }}" title="Apartament na poddaszu">
                    {% image '@AppBundle/Resources/public/img/galerie/apartament-na-poddaszu.jpg' %}
                        <img src="{{ asset_url }}" alt="Apartament na poddaszu" />
                    {% endimage %}
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Pokój <span>niebieski</span></h3>
                </div>
                <a href="{{ path('gallery', {'slug': 'pokoj-niebieski'}) }}" title="Pokój niebieski">
                    {% image '@AppBundle/Resources/public/img/galerie/pokoj-niebieski.jpg' %}
                        <img src="{{ asset_url }}" alt="Pokój niebieski" />
                    {% endimage %}
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Pokój <span>zielony</span></h3>
                </div>
                <a href="{{ path('gallery', {'slug': 'pokoj-zielony'}) }}" title="Pokój zielony">
                    {% image '@AppBundle/Resources/public/img/galerie/pokoj-zielony.jpg' %}
                        <img src="{{ asset_url }}" alt="Pokój zielony" />
                    {% endimage %}
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Pokój <span>pomarańczowy</span></h3>
                </div>
                <a href="{{ path('gallery', {'slug': 'pokoj-pomaranczowy'}) }}" title="Pokój pomarańczowy">
                    {% image '@AppBundle/Resources/public/img/galerie/pokoj-pomaranczowy.jpg' %}
                        <img src="{{ asset_url }}" alt="Pokój pomarańczowy" />
                    {% endimage %}
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Pokój <span>karmelowy</span></h3>
                </div>
                <a href="{{ path('gallery', {'slug': 'pokoj-karmelowy'}) }}" title="Pokój karmelowy">
                    {% image '@AppBundle/Resources/public/img/galerie/pokoj-karmelowy.jpg' %}
                        <img src="{{ asset_url }}" alt="Pokój karmelowy" />
                    {% endimage %}
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Willa <span>Aziza i okolica</span></h3>
                </div>
                <a href="{{ path('gallery', {'slug': 'willa-aziza'}) }}" title="Willa Aziza">
                    {% image '@AppBundle/Resources/public/img/galerie/willa-aziza.jpg' %}
                        <img src="{{ asset_url }}" alt="Willa Aziza" />
                    {% endimage %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
