{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - galeria{% endblock %}
{% block description %}Apartament na poddaszu, pokoje niebieski, zielony, pomarańczowy, karmelowy, wszystkie z łazienkami.{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .row {
            margin-right: 0;
            margin-left: 0;
            margin-top: 15px;
            background: #fff;
            padding-bottom: 50px;
        }
        .thumbnail {
            margin-bottom: 0;
            border: 0;
        }
        .thumbnail .caption h3 {
            text-transform: uppercase;
            color: #f7941d;
            font-weight: bold;
        }
        .thumbnail .caption p {
            color: #104f70;
            font-size: 18px;
        }
        .thumbnail .caption h3 span {
            color: #104f70;
            display: block;
            font-weight: normal;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Apartament <span>na poddaszu</span></h3>
                </div>
                <a href="{{ path('gallery', {'slug': 'apartament-na-poddaszu'}) }}" title="Apartament na poddaszu">
                    <img src="{{ asset('img/galerie/apartament-na-poddaszu.jpg') }}" alt="Apartament na poddaszu">
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Pokój <span>niebieski</span></h3>
                </div>
                <a href="{{ path('gallery', {'slug': 'pokoj-niebieski'}) }}" title="Pokój niebieski">
                    <img src="{{ asset('img/galerie/pokoj-niebieski.jpg') }}" alt="Pokój niebieski">
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Pokój <span>zielony</span></h3>
                </div>
                <a href="{{ path('gallery', {'slug': 'pokoj-zielony'}) }}" title="Pokój zielony">
                    <img src="{{ asset('img/galerie/pokoj-zielony.jpg') }}" alt="Pokój zielony">
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Pokój <span>pomarańczowy</span></h3>
                </div>
                <a href="{{ path('gallery', {'slug': 'pokoj-pomaranczowy'}) }}" title="Pokój pomarańczowy">
                    <img src="{{ asset('img/galerie/pokoj-pomaranczowy.jpg') }}" alt="Pokój pomarańczowy">
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Pokój <span>karmelowy</span></h3>
                </div>
                <a href="{{ path('gallery', {'slug': 'pokoj-karmelowy'}) }}" title="Pokój karmelowy">
                    <img src="{{ asset('img/galerie/pokoj-karmelowy.jpg') }}" alt="Pokój karmelowy">
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Willa <span>Aziza i okolica</span></h3>
                </div>
                <a href="{{ path('gallery', {'slug': 'willa-aziza'}) }}" title="Willa Aziza">
                    <img src="{{ asset('img/galerie/willa-aziza.jpg') }}" alt="Willa Aziza">
                </a>
            </div>
        </div>
    </div>
{% endblock %}
